*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,*::before{
  position: absolute;
  content: '';
}


:root{
  font-size: 10px;
  // hyphens: auto;
}

body{
  background-color: $white;
}
.wrapper{
  overflow: hidden;
}

.fixedPosition{
  overflow: hidden;
}

