//STYLES MIXINS

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-nowrap{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@mixin flex-row-wrap{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@mixin flex-column-nowrap{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

//COMPONENTS MIXINS 

@mixin button{
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 700;
  background-color: #bc2e3a;
  font-family: $secondary-font;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: .4s;
  cursor: pointer;
  color: $pure-white;

  @media #{$iPhoneX}{
    padding: 15px 20px;
  }
  @media #{$Pixel2}{
    padding: 15px 20px;
  }

  @media #{$iPad}{
    padding: 20px 40px;
    font-size: 2.8rem;
  }
  @media #{$iPadPro}{
    padding: 35px 70px;
    font-size: 3.2rem;
  }
  @media #{$horizontal-medium}{
    padding: 30px 40px;
    font-size: 2.8rem;
  }
}

@mixin heading{
  text-align: center;
  font-size: 3rem;
  font-family: $heading-font;
  color: $heading;
  font-weight: 900;
  @media #{$horizontal}{
    font-size: 4rem;
  }
  @media #{$Pixel2}{
    font-size: 4.5rem;
  }
  @media #{$iPad}{
    font-size: 6rem;
  }
}

@mixin description{
  font-size: 1.4rem;
  line-height: 160%;
  text-align: center;
  font-family: $primary-font;
  color: $gray;
  @media #{$horizontal}{
    font-size: 1.5rem;
  }
  @media #{$iPhoneX}{
    font-size: 1.5rem;
  }
  @media #{$Pixel2}{
    font-size: 1.6rem;
  }
  @media #{$iPad}{
    font-size: 2.5rem;
  }
}

@mixin subtitle{
  color: #6f6f6e;
  font-family: $primary-font;
  font-weight: 900;
  font-size: 2.2rem;
  @media #{$iPad}{
    font-size: 3rem;
  }
}