//STYLES MIXINS

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-nowrap{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@mixin flex-row-wrap{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@mixin flex-column-nowrap{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

//COMPONENTS MIXINS 

@mixin button{
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 700;
  background-color: #bc2e3a;
  font-family: $secondary-font;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: .4s;
  cursor: pointer;
  color: $pure-white;
  @media #{$landscape-smartphones} {
   font-size: 1.3rem;
}
@media #{$landscape-Pixel2}{
  padding: 15px 30px;
}
@media #{$portrait-Pixel2L}{
  padding: 15px 25px;
  font-size: 1.5rem;
}
@media #{$landscape-large}{
  font-size: 3rem;
  padding: 25px 35px;
}
}

@mixin heading{
  text-align: center;
  font-size: 3rem;
  font-family: $heading-font;
  color: $heading;
  font-weight: 900;
  letter-spacing: 2px;
  @media #{$landscape-smartphones}{
    font-size: 3.4rem;
  }
  @media #{$portrait-Pixel2L}{
    font-size: 3.5rem;
  }
  @media #{$landscape-large}{
    font-size: 5.5rem;
  }
//SPECIAL DEVICES
@media #{$portrait-iPhoneX-only}{
  font-size: 3.6rem;
 }
}

@mixin description{
  font-size: 1.4rem;
  line-height: 160%;
  text-align: center;
  font-family: $primary-font;
  color: $gray;
  @media #{$landscape-smartphones}{
    font-size: 1.3rem;
  }
  @media #{$portrait-Pixel2L}{
    font-size: 1.5rem;
  }
  @media #{$landscape-large}{
    font-size: 2rem;
  }
  //SPECIAL DEVICES
@media #{$portrait-iPhoneX-only}{
  font-size: 1.7rem;
 }

}

@mixin subtitle{
  color: #6f6f6e;
  font-family: $primary-font;
  font-weight: 900;
  font-size: 2.2rem;
 
}