$landscape-smartphones: "only screen and (min-width : 321px) and (orientation: landscape)";
$portrait-Pixel2: "only screen and (min-device-width: 411px) and (orientation: portrait)";
$landscape-Pixel2: "only screen and (min-device-width: 731px) and (orientation: landscape)";
$portrait-Pixel2L: "only screen and (min-device-width: 411px) and (orientation: portrait)";
$landscape-Pixel2L: "only screen and (min-device-width: 823px) and (orientation: landscape)";
$landscape-large: "only screen and (min-device-width : 1024px) and (orientation : landscape)";
$portrait-large: "only screen and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation: portrait)";
$portrait-huge: "only screen and (min-device-width: 1000px) and (min-device-height: 1000px) and (orientation: portrait) ";
$landscape-huge: "only screen and (min-device-width: 1200px)";


//SPECIAL DEVICES
$landscape-iPhone6-only: "only screen and (device-width: 375px) and (max-device-height: 667px) and (orientation : landscape)";
$portrait-iPhoneX-only: "only screen and (device-width: 375px) and (max-device-height: 812px) and (orientation : portrait)";
$landsacpe-iPhoneX-only: "only screen and (device-width: 375px) and (max-device-height: 812px) and (orientation : landscape)";
