.header{
  height: 60vh;
  color: $white;
  position: relative;
    &::after{
      background: url('../assets/banner.jpg');
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 18% 0;
      height: 100%;
      width: 100%;
      z-index: -2;
    }

    &__model{
      position: absolute;
      top: 50%;
      left: 55%;
      height: 90vw;
      width: 90vw;
      z-index: -1;
    }
  
    &__button{
      @include button;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      color: #242424;
      background-color: $pure-white;
      &:hover{
        background-color: $black;
        color: $white;
    }
    }

    &__navTrigger{
     @media(min-width: 501px) and (orientation:landscape) {
       display: none;
     }
    
      transition: .4s all;
      position: fixed;
      @include flex-center;
      top: 0;
      left: 50%;
      height: 5vh;
      width: 5vh;
      transform: translate(-50%,-100%);
      font-size: 4vh;
      z-index: 3; 
      color: $pure-white;
      &--fixed{
        transform: translate(-50%, 2.5vh);
        &--active{
          transform: translate(15vh,50vh) rotate(180deg); 
          color: $red;
      }
      }
     
    }

    &__nav{
    @include flex-row-nowrap;
    justify-content: space-between;
    height: 10vh;
    transition: all .4s;
    font-family: $primary-font;
    z-index: 3; 
    font-size: 1rem;
    @media screen and (max-width: 800px), (min-width: 1024px) and (orientation: portrait){
    &--fixed{
      position: fixed;
      top:0;
      left:0;
      right:0;
      padding: 10px;
      transition: all .4s;
      background-color: $black;
      opacity: .8;
      &> .header__icons{
        transform: translateX(0);
      }
    }}
    }

    &__logo{
      @include flex-center;
      margin-left: 15px;
      font-size: 1.6rem;
      & > a {
        font-family: $primary-font;
        font-size: 1.3em;
        font-weight: 900;
        height: 50%;
        text-decoration: none;
        color: $pure-white;
    }
    }

    &__icons{
    height: 100%;
    flex-basis: 25%;
    @include flex-center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: .4s;
    font-size: 1rem;
    cursor: pointer;
    & > a{
      color: $white;
    }
    }

    &__icon{
    font-size: 1.2em;
    height: 50%;
    @include flex-center;
    }

//WHOLE NAVIGATION WITH QUERIES IS BUILD HERE
  &__list{
    font-size: 1rem;
    &__item{
      @include flex-center;
      list-style-type:none;
    a{
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      font-weight: 800;
      font-size: 1.5em;
      cursor: pointer;
      &:hover{
        color: $red;
      }
    &::after{
      top: 110%;
      left: 15%;
      right: 15%;
      height: 2px;
      border-radius: 50%;
      background-color: $pure-white;
    }
    }
  }

  @media screen and (max-width: 490px), (min-width: 768px) and (min-height: 1000px) {
    &__item{
      flex-basis: 50%;
      flex-grow: 1;
    }
    &--mobile{ 
      transform: translateY(-100%);
      transition: .4s all;
      @include flex-row-wrap;
      // justify-content: space-around;
      background-color: $black;
      height: 50vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;    
      &--active{
        top: 10vh;
        transform: translateY(0);
        transition: .4s;
        width: 100%;
        z-index: 3; 
        opacity: 1;
      }
      
      }
  }
  @media screen and (min-width: 501px){

    &__item{
      flex-grow: 1;
    }
    &--desktop{
      @include flex-row-nowrap;
      flex-basis: 95%;
      margin-left: 30px;
      font-size: 1em;
      height: 10vh;
      font-size: .6rem;
    }
      a{
         font-size: 1.5em
    ;
  }}

}
}

@media #{$landscape-smartphones}{
  .header{
    height: 100vh;
      &::after{
        background-position: 100%;
      }
      &__logo{
        font-size: 1.1rem;
      }
      &__icons{ 
        transform: translateX(0);
        font-size: .8rem;
        flex-basis: 16%;
      } 
      &__model{
        top: 12%;
        left: 42%;
        height: 62vw;
        width: 62vw;
      }
      &__button{
        left: 35%;
      }
      &__nav{
        height: 15vh;
      } 
     
 
      &__navTrigger--fixed{
    transform: translate(-50%, 5vh);
    height: 10vh;
    width: 10vh;
    font-size: 8vh;
    &--active{
      transform: translate(20vh,50vh) rotate(180deg); 
      color: $red;
  }
      }
  }
}
@media #{$portrait-Pixel2L}{
  .header{
    &::after{
     background-position: 22%;
    }

  }
}

@media #{$landscape-Pixel2L}{
  .header{
    &__model{
      left: 38%;
      top: 20%;
    }
  }
}
@media #{$landscape-large}{
  .header{
    &::after{
      background-position: 40%;
    }
    &__model{
      left: 45%;
      top: 32%;
    }
    &__logo{
      font-size: 2.2rem;
    }
    &__icons{
      font-size: 1.8rem;
    }
    &__list{
      a{
        font-size: 1.5rem;
      }
    }
    
  }
}

@media #{$portrait-large}{
  .header{
height: 85vh;
  &::after{
    background-position: 20%;
  }
  &__logo{
    font-size: 3.5rem;
  }
&__model{
  display: none;
}
&__icons{
  font-size: 2rem;
}
&__list{
  width: 100%;
  margin-left: 0;
  font-size: 2.1rem;
}
}
}

@media #{$landscape-huge}{
  .header{
    height: 100vh;
&__list{
  flex-basis: 40%;
  margin-left: 30%;
}
&__icons{
  flex-basis: 10%;
}
&__logo{
  margin-left: 40px;
  font-size: 3rem;
}
&__model{
  top: 15%;
  height: 100vh;
  width: 100vh;
}
  }
}

//SPECIAL DEVICES
@media #{$portrait-iPhoneX-only}{
  .header{
    height: 50vh;
  &__model{
    top: 55%;
    left: 45%;
  }
  }
}
@media #{$landscape-iPhoneX-only}{
  .header{
    &__model{
      top: 10%;
    }
  }
}

