.about{
  height: 50vh;
  position: relative;
  margin-top: 20px;
  &__contentBox{
    height: 100%;
    @include flex-row-wrap;
    justify-content: center;
  }

  &__heading{
    @include heading;
  }

  &__description{
    flex-basis: 85%;
    @include description;
    text-align: justify;
  }

  &__button{
    align-self: flex-start;
    @include button;
    color: $white;
  }

  &__imageBox{
    display: none;
  }
}

//LANDSCAPE

@media #{$landscape-smartphones}{
  .about{
    height: 80vh;
    margin-top: 20px;
    @include flex-row-nowrap;
    &__contentBox{
      flex-basis: 50%;
      text-align: center;
    }
    &__imageBox{
      display: block;
      flex-basis: 60%;
      width: 100%;
      margin-top: 45%;
      transform: translateY(-50%);
      img{
      width: 100%;
      }
    }
    &__button{
      margin: 10px 0 0 0;
    }
  
  }
}

@media #{$landscape-Pixel2}{
  .about{
    height: 80vh;
    &__imageBox{
      margin-top: 40%;
        }

  }
 
}

@media #{$portrait-Pixel2L}{
  .about{
    height: 35vh;
    &__description{
      flex-basis: 70%;
    }
    &__button{
      margin-top: 30px;
    }
  }
}

@media #{$landscape-Pixel2L}{
  .about{
    margin-top: 80px;
  &__contentBox{
    align-content: space-around;
  }
  &__description{
    flex-basis: 70%;
  }
  }

}

@media #{$landscape-large}{
  .about{
    margin-top: 0;
    height: 80vh;
    &__contentBox{
      height: 80%;
    }
    &__imageBox{
     margin-top: 30%;
    }
  }
}

@media #{$portrait-large}{
  .about{
    height: 80vh;
  }
}

@media #{$portrait-huge}{
  .about{
height: 50vh;

&__contentBox{
  @include flex-column-nowrap;
justify-content: space-around;
}
&__description{
  flex-basis: 0;
  width: 60%;
}
&__button{
  align-self: center;
}
  }
}

@media #{$landscape-huge}{
  .about{
    &::after{
      top: 0;
      left: 80vh;
      width: 50%;
      // opacity: .6;
      z-index: -2;
      border-top: 100vh solid $black;
    border-left: 70vh solid transparent;
    border-right: 70vh solid transparent;
    }
    &__contentBox{
      flex-basis: 50%;
     @include flex-column-nowrap;
    justify-content: space-around;
    }
    &__description{
   flex-basis: 0;
   width: 50%;
    }
    &__imageBox{
      width: 50%;
      flex-basis: 40%;
    }
    &__button{
      margin: 0;
      align-self: center;
    }
}}


//SPECIAL DEVICES
@media #{$landscape-iPhone6-only}{
  .about{
    height: 80vh;
    &__imageBox{
      margin-top: 40%;
    }
  }
}

@media #{$portrait-iPhoneX-only}{
 .about{
   margin-top: 40px;
 }
}

@media #{$landsacpe-iPhoneX-only}{
 .about{
   margin-top: 120px;
   &__description{
     flex-basis: 70%;
   }
   &__contentBox{
     align-content: space-around;
   }
 }
}
