.about{
  height: 50vh;
  position: relative;
  margin-top: 20px;

  &__contentBox{
  height: 100%;
  @include flex-row-wrap;
  justify-content: center;
  }

  &__heading{
    @include heading;
  }

  &__description{
    flex-basis: 85%;
    @include description;
    text-align: justify;
  }

  &__button{
    align-self: flex-start;
    @include button;
    color: $white;
  }

  &__imageBox{
    display: none;
  }
}

//LANDSCAPE

@media #{$landscape-smartphones}{
  .about{
    height: 80vh;
    margin-top: 20px;
    @include flex-row-nowrap;
    &__contentBox{
      flex-basis: 50%;
    }
    &__imageBox{
      display: block;
      flex-basis: 50%;
      width: 100%;
      margin-top: 50px;
      img{
      width: 100%;
      }
    }
    &__button{
      margin:  10px 40% 0 2.5%;
    }
  }
}


