.about{
  height: 50vh;
  position: relative;
  margin-top: 4rem;
  &__contentBox{
  height: 100%;
  @include flex-row-wrap;
  justify-content: center;
  }

  &__heading{
    @include heading;
  }

  &__description{
    flex-basis: 85%;
    @include description;
    text-align: justify;
  }

  &__button{
    align-self: flex-start;
    @include button;
    color: $white;
  }

  &__imageBox{
    display: none;
  }
}


