.services{
  font-family: $secondary-font;
  position: relative;
  margin-top: 20px;
  &::after{
    top: 100%;
    left: 25%;
    right: 25%;  
    height: 2px;
    background-color:  $red;
  }

&__heading{
  @include heading;
}

&__box{
  min-height: 300px;
  margin: 15px auto;
  width: 95%;
  @include flex-column-nowrap;
  &::after{
    top: 50%;
    left: 0%;
    border-top: 10vw solid transparent;
    border-left: 10vw solid $red;
    border-bottom: 10vw solid transparent;
    opacity: .7;
  }
}


&__item{
  & > *{
    margin: 5px 0;
  }
  margin: 15px 0;
  @include flex-column-nowrap;
}
&__iconBox{
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  background-color: $red;
  position: relative;
    img{
      height: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
}

&__subtitle{
  @include subtitle;

}
&__description{
  width: 70%;
  @include description;
}
}


@media #{$horizontal}{
  .services{
    &__box{
      @include flex-row-wrap;
    }
    &__item{
      flex-basis: 50%;
    }
    &__iconBox{
      height: 16vh;
      width: 16vh;
      
    }
  }
}

@media #{$iPhoneX} {
  .services{
    margin-top: 20px;
      &__iconBox{
        height: 8vh;
        width: 8vh;
      }
      &__item{
      flex-basis: 40%;
      }
  }
}

@media #{$Pixel2}{
  .services{
  margin-top: 20px;
}
}

@media #{$iPad}{
  .services{
    &::after{
     top: 101%;
    }
    &__box{
      @include flex-row-wrap;
      
    }
    &__item{
      flex-basis: 50%;
      margin-top: 40px;
      }
    &__description{
      width: 90%;
    }
    &__iconBox{
      height: 15vh;
      width: 15vh;
    }
  }
}

@media #{$iPadPro}{
  .services{
  &__box{
    &::after{
      top: 45%;
      border-top: 30vw solid transparent;
      border-left: 30vw solid $red;
      border-bottom: 30vw solid transparent;
      opacity: .5;
    }
  }
  }
}