.services{
  font-family: $secondary-font;
  position: relative;
  margin-top: 20px;
  &::after{
    top: 100%;
    left: 25%;
    right: 25%;  
    height: 2px;
    background-color:  $red;
  }

&__heading{
  @include heading;
}

&__box{
  min-height: 300px;
  margin: 15px auto;
  width: 95%;
  @include flex-column-nowrap;
  &::after{
    top: 50%;
    left: 0%;
    border-top: 10vw solid transparent;
    border-left: 10vw solid $red;
    border-bottom: 10vw solid transparent;
    opacity: .7;
  }
}


&__item{
  & > *{
    margin: 5px 0;
  }
  margin: 15px 0;
  @include flex-column-nowrap;
}
&__iconBox{
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  background-color: $red;
  position: relative;
    img{
      height: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
}

&__subtitle{
  @include subtitle;

}
&__description{
  width: 70%;
  @include description;
}
}


@media #{$landscape-smartphones}{
  .services{
    margin-top: 40px;
    &::after{
      top: 102%;
    }
    &__box{
      @include flex-row-wrap;
    }
    &__item{
      flex-basis: 50%;
    }
    &__iconBox{
      height: 22vh;
      width: 22vh;
    }
   
  }
}

@media #{$landscape-Pixel2}{
  .services{
    margin-top: 0;
  }
}

@media #{$portrait-Pixel2L}{
  .services{
    margin-top: 40px;
  &__description{
    width: 55%;
  }
  
  }

}
@media #{$landscape-large}{
 .services{
   margin-top: 40px;
   &__description{
     width: 50%;
     text-align: start;
     margin: 0 auto;
   }
   &__iconBox{
     height: 13vh;
     width: 13vh;
   }
 }
}

@media #{$portrait-huge}{
  .services{
    margin: 80px;
  }
}

@media #{$landscape-huge}{
.services{
  background-color: $white;
  height: 100vh;
  padding: 40px 0;

  &__box{
    justify-content: space-around;
    height: 80%;
    &::after{
      top: 40%;
    }
  }
  &__item{
    height: 50%;
  flex-basis: 30%;
  @include flex-row-wrap;
  align-content: center;
  }
  &__iconBox{
    height: 10vh;
    width: 10vh;
  }
  &__subtitle{
    flex-grow: 1;
margin-left: 10px;
    font-size: 3rem;
  }
  &__description{
    flex-basis: 100%;
    margin-left: 10vh;
  }
}
}

//SPECIAL DEVICES
@media #{$landscape-iPhone6-only}{
  .services{
    margin-top: 20px;
  }
}
