.ourWork{
margin-top: 40px;
position: relative;

&::before{
  top: 20%;
  left: 0;
  border-top: 8vh solid transparent;
  border-left: 8vh solid $red;
  opacity: .65;
  border-bottom: 8vh solid transparent;
  z-index: -1;
}
&__heading{
  @include heading;
}


&__contentBox{
  margin: 20px auto 0 auto;
  width: 85%;
  @include flex-row-wrap;
  justify-content: space-around;
}

&__description{
  margin-top: 20px;
  @include description;
  width: 85%;
  text-align: justify;
}
&__button{
  margin: 20px 0;
  @include button;
  color: $white;
}

&__galleryBox{
  @include flex-column-nowrap;
  justify-content: space-around;
}

&__imageBox{
  margin: 10px 0;
  height: 170px;
  width: 80%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: relative;
  top: 0;
  left: 0;
  transition: .4s;
    &::after{
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $black;
      opacity: .9;
      transition: .4s;
    }
    & img{
      width: 100%;
      height: 100%;
    }
    &--active{
      color: $white;
      &::after{
        opacity: .55;
      }
    }
}

&__motto,&__paragraph,&__number{
  position: absolute;
  z-index: 1;
  font-size: 1rem;
}

&__motto{
  top: 50%;
  left: 15%;
  font-size: 2em;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 800;
}
&__paragraph{
  font-family: $primary-font;
  left: 15%;
  top: 67%;
  width: 60%;
  font-size: 1.1em;
}
&__number{
  top: 5%;
  left: 77%;
  font-size: 2em;
  font-family: $secondary-font;
  font-weight: 800;
}

}

@media #{$landscape-smartphones}{
  .ourWork{
    margin-top: 80px;
    @include flex-row-nowrap;
    justify-content: space-between;
    height: 60vh;
    width: 200%;
    &::before{
      top: -40%;
      border-top: 20vh solid transparent;
      border-left: 20vh solid $red;
      border-bottom: 20vh solid transparent;
    }
    &__contentBox{
     width: 35%;
     margin: 0;
 
    }
    &__galleryBox{
      height: 100%;
      overflow: hidden;
      border-radius: 15%;
    }

    &__imageBox{
      width: 90vh;
      &::after, &:hover::after{
       opacity: .5;
      }
    }
  
  }
}

@media #{$landscape-Pixel2L}{
  .ourWork{
    &__description{
      width: 70%;
    }
    &__imageBox{
      height: 200px;
      width: 80%;
      transform: translateX(-10%);
  }
}
}
@media #{$landscape-large}{
 .ourWork{
   &__imageBox{
     margin-top: 10%;
    height: 320px;
 }
 }}

//SPECIAL DEVICES
@media #{$landsacpe-iPhoneX-only}{
  .ourWork{
    height: 80vh;
    &__description{
      width: 70%;
    }
    &__galleryBox{
      margin-top: 5%;
    }
  }
 }