.ourWork{
margin-top: 40px;
position: relative;

&::before{
  top: 20%;
  left: 0;
  border-top: 8vh solid transparent;
  border-left: 8vh solid #000;
  border-bottom: 8vh solid transparent;
  z-index: -1;
}
&__heading{
  @include heading;
}


&__contentBox{
  margin: 20px auto 0 auto;
  width: 85%;
  @include flex-row-wrap;
  justify-content: space-around;
}

&__description{
  margin-top: 20px;
  @include description;
  width: 85%;
  text-align: justify;
}
&__button{
  margin: 20px 0;
  @include button;
  color: $white;
}

&__galleryBox{
  @include flex-column-nowrap;
}

&__imageBox{
  margin: 10px 0;
  width: 80%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: relative;
  top: 0;
  left: 0;
  transition: .4s;
  &:hover{
    color: $white;
    &::after{
      opacity: .95;
    }
  }
  &::after{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    opacity: .9;
    transition: .4s;
  }
    & img{
      width: 100%;
    }
    &--active{
      color: $white;
      &::after{
        opacity: .65;
      }
    }
}

&__motto,&__paragraph,&__number{
  position: absolute;
  z-index: 1;
  font-size: 1rem;
}

&__motto{
  top: 50%;
  left: 13%;
  font-size: 2em;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 800;
}
&__paragraph{
  font-family: $primary-font;
  left: 13%;
  top: 70%;
  width: 60%;
  font-size: 1.1em;
}
&__number{
  top: 5%;
  left: 77%;
  font-size: 2em;
  font-family: $secondary-font;
  font-weight: 800;
}

}

@media #{$horizontal}{
  .ourWork{
    margin-top: 80px;
    @include flex-row-nowrap;
    justify-content: space-around;
    height: 100vh;
    &::before{
      top: -10%;
      border-top: 20vh solid transparent;
      border-left: 20vh solid $red;
      border-bottom: 20vh solid transparent;
      opacity: .6;
    }
    &__contentBox{
      flex-basis: 40%;
    }
    &__galleryBox{
      flex-basis: 50%;
      @include flex-row-nowrap;
    }
  }
}

@media #{$iPhoneX} {
  .ourWork{
    &::before{
      border-top: 5vh solid transparent;
      border-left: 5vh solid #000;
      border-bottom: 5vh solid transparent;
    }
    &__description{
      margin: 15px 0;
    }
  }
  }

@media #{$iPad}{
  .ourWork{
    &__description{
      width: 80%;
    }
    &__imageBox{
      margin: 20px 0;
      width: 60%;
  }
  &__motto,&__paragraph,&__number{
   font-size: 4rem;
  }
  &__paragraph{
    font-size: 2rem;
  }
}
}

@media #{$iPadPro}{
  .ourWork{
    &__description{
      margin-top: 40px;
      width: 75%;
      font-size: 2.6rem;
    }
  }
}