.ourTeam{
  height: 50vh;
  margin-top: 4rem;
  position: relative;

&__heading{
  @include heading;
}

&__owlCarousel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


&__owlButton{
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &--left{
    left: 2%;
    border-bottom: 3vh solid transparent;
    border-right: 3vh solid $black;
    border-top: 3vh solid transparent;
  }
  &--right{
    right: 2%;
    border-top: 3vh solid transparent;
    border-left: 3vh solid $red;
    border-bottom: 3vh solid transparent;
  }
}

&__box{
  margin: 0 auto;
  height: 40vh;
  width: 40vh;
  cursor: pointer;
  position: relative;
  font-family: $primary-font;
  color: $pure-white;
    img{
      position: absolute;
      top: 52.5%;
      left: 48%;
      transform: translate(-50%,-50%);
    }
}


&__name{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) skew(45deg);
  width: 40%;
  height: 10%;
  background-color: $black;
  opacity: .8;
  font-weight: 700;
    span{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
      transform: translateY(-55%) skew(-45deg);
    } 
}

&__occupation{
  position: absolute;
  top: 79%;
  left: 55%;
  transform: translateX(-50%) skew(45deg);
  width: 30%;
  height: 7%;
  background-color: $red;
  opacity: .8;
  span{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    transform: translateY(-50%) skew(-45deg);
  }
}


}


