.clients{
  height: 70vh;
  @include flex-column-nowrap;
  justify-content: space-evenly;
  position: relative;

&__heading{
  @include heading;
  margin-top: 10px;
}

&__box{
  @include flex-row-wrap;
  flex-grow: 1;
  padding: 10px;
  &::after{
    top: -10vw;
    transform: translateX(-100%) rotate(90deg);
    left: calc(100% + 15vw);
    border-top: 20vw solid transparent;
    border-left: 20vw solid #242424;
    border-bottom: 20vw solid transparent;
  }
}

&__image{
  @include flex-row-nowrap;
  flex-basis: 50%;
  height: 70%;
  position: relative;

  &::after{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 20vw solid transparent;
    border-left: 20vw solid $red;
    border-bottom: 20vw solid transparent;
    z-index: -1;
  }
  img{
    width: 100%;
  }
}
&__opinion{
  flex-basis: 50%;
  margin: 0 auto;
  @include flex-row-wrap;
  align-content: center;
  font-family: $primary-font;
  position: relative;
}

&__description{
  text-align: start;
  font-size: 1.2rem;
  line-height: 140%;
  font-style: italic;
}

&__role{
  margin-top: 10px;
  font-weight: 900;
}


&__images{
  flex-basis: 100%;
  @include flex-row-nowrap;
  justify-content: space-around;
  
  img{
    width: 33%;
  }

}

&__mark{
  position: absolute;
  top: -20px;
  left: -30px;
  font-size: 2rem;
}
}

@media #{$landscape-smartphones}{
  .clients{
      height: 70vh;
    &__heading{
      margin-bottom: 40px;
    }
    &__image{
    flex-basis: 30%;
    height: 10%;
    }
    &__images{
      flex-basis: 50%;
      margin: 20px 0 0 50%;
}
    &__description{
      font-size: 1.3rem;
}
    &__role{
      font-size: 1.5rem;
}

}
}

@media #{$portrait-Pixel2}{
  .clients{
    &__description{
      font-size: 1.4rem;
    }
    &__role{
      font-size: 1.5rem;
    }
  }
}

@media #{$landscape-Pixel2}{
  .clients{
    height: 75vh;
    &__description{
      width: 80%;
      text-align: justify;
    }
    &__images{
      img{
        width: 25%;
      }
    }
  }
}

@media #{$landscape-Pixel2L}{
  .clients{
    height: 85vh;
    &__description{
      font-size: 1.5rem;
      width: 70%;
    }
  }
}
@media #{$landscape-large}{
  .clients{
    height: 60vh;
    &__description{
      font-size: 2rem;
      text-align: start;
    }
    &__role{
      font-size: 2.4rem;
    }
  }
}

//SPECIAL DEVICES
@media #{$landsacpe-iPhoneX-only}{
.clients{
  height: 90vh;
&__description{
  font-size: 1.6rem;
}
&__role{
  font-size: 1.8rem;
}
}
 }

@media #{$portrait-iPhoneX-only}{
  .clients{
    height: 50vh;
  &__images{
    img{
      width: 25%;
    }
  }
  }

 }