.clients{
  height: 70vh;
  @include flex-column-nowrap;
  justify-content: space-evenly;
  position: relative;

&__heading{
  @include heading;
  margin-top: 10px;
}

&__box{
  @include flex-row-wrap;
  flex-grow: 1;
  padding: 10px;
  &::after{
    top: -10vw;
    transform: translateX(-100%) rotate(90deg);
    left: calc(100% + 15vw);
    border-top: 20vw solid transparent;
    border-left: 20vw solid #242424;
    border-bottom: 20vw solid transparent;
  }
}

&__image{
  @include flex-row-nowrap;
  flex-basis: 50%;
  height: 70%;
  position: relative;

  &::after{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 20vw solid transparent;
    border-left: 20vw solid $red;
    border-bottom: 20vw solid transparent;
    z-index: -1;
  }
  img{
    width: 100%;
  }
}
&__opinion{
  flex-basis: 50%;
  margin: 0 auto;
  @include flex-row-wrap;
  align-content: center;
  font-family: $primary-font;
  position: relative;
}

&__description{
  text-align: start;
  font-size: 1.2rem;
  line-height: 140%;
  font-style: italic;
}

&__role{
  margin-top: 10px;
  font-weight: 900;
}


&__images{
  flex-basis: 100%;
  @include flex-row-nowrap;
  justify-content: space-around;
  
  img{
    width: 33%;
  }

}

&__mark{
  position: absolute;
  top: -20px;
  left: -30px;
  font-size: 2rem;
}
}

@media #{$horizontal}{
  .clients{
      height: 100vh;
    &__heading{
      margin-bottom: 40px;
    }
    &__image{
    flex-basis: 40%;
    height: 10%;
    }
    &__images{
      flex-basis: 50%;
      margin: 20px 0 0 50%;
}
    &__description{
      font-size: 1.3rem;
}
    &__role{
      font-size: 1.5rem;
}

}
}

@media #{$iPhoneX} {

  .clients{
    height: 50vh; 
  &__role{  
    font-size: 1.3rem;
  }
}
}

@media #{$Pixel2}{
  .clients{
    height: 70vh;
    &__heading{
      font-size: 4rem;
      margin-top: 20px;
    }
    &__description{
      font-size: 1.4rem;
    }
    &__role{
      margin-top: 20px;
      font-size: 1.4rem;
      width: 100%;
    }
  }
}

@media #{$iPad}{
  .clients{
    &__heading{
      font-size: 6rem;
    }
    &__description{
      font-size: 2.3rem;
    }
    &__role{
      font-size: 2.7rem;
    }
    &__images{
      flex-basis: 55%;
      margin: -80px 0px 0 auto;
    }
  }
}

@media #{$iPadPro}{
  .clients{
    height: 60vh;
    &__description{
      font-size: 2.8rem;
    }
    &__role{
      font-size: 3.2em;
    }
   
  }
}